<div class="formContainer">
<form name="addItem" ng-submit="addItem.$valid && itemCtrl.submitItem()" novalidate>
  <label class="control-label" ng-class="{'has-error': !itemCtrl.newItem.name}">Item Name:</label>
  <input type="text" class="form-control shorten" ng-model="itemCtrl.newItem.name" required />
  <label class="control-label">Description:</label>
  <input type="text" class="form-control shorten" ng-model="itemCtrl.newItem.desc" required />
  <label class="control-label">Link:</label>
  <input type="url" class="form-control shorten" ng-model="itemCtrl.newItem.href" />
  <label class="control-label">Photo:</label>
  <input type="url" class="form-control shorten" ng-model="itemCtrl.newItem.photo" />
  <input class="btn btn-primary" type="submit" value="Save" ng-disabled="addItem.$invalid" />
</form>
</div>