<div class="formContainer">
<a class="btn btn-primary btn-lg btn-block" href="/#/customers/new" ng-show="user">New Customer</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/customers" ng-show="user">Customer List</a>
  <!-- <a class="btn btn-primary btn-lg btn-block" href="/#/service" ng-show="user">Schedule Service</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/service-log" ng-show="user">Service Log</a> -->
  <a class="btn btn-primary btn-lg btn-block" href="/#/products/new" ng-show="user">New Item</a>
  <a class="btn btn-primary btn-lg btn-block" href="/#/products" ng-show="user">Product List</a>
  <!-- <a class="btn btn-primary btn-lg btn-block" href="/#/accounting" ng-show="user">Accounting</a> -->
</div>